// 变量
$body-bg:                             #f1f1f1;
$white:                               #FFFFFF;
// 导航部分
$sidebar-bg:                          #242424;
$sidebar-active:                      #47474e;
$sidebar-borderColor:                 #68b63b;
$sidebar-color:                       #6d747d;
// 头部
$top-bg:                              #15b7bd;
$top-loginout-active:                 #1e2327;


// 全局配色
$green                     : green;
$content_bg                : #E8EBF0;
$content_title_bg          : #F7F8FA;
$border_color              : #F0F0F0;
$dashed_color              : #E4E6ED;
$sidebar_bg                : #404040;
$sidebar_active            : #d1293c;
$sidebar_color             : #939CA5;
